@import "shared";

body {
    scroll-behavior: smooth;
}

.shadow {
    width: 200vh;
    height: 200vh;
    opacity: 50%;
    background-color: black;
    position: fixed;
    margin: -300px;
}

.home {
    padding: 0 0 0 15px;
    font-family: Arial, Helvetica, sans-serif;

    .headerbar {
        margin-bottom: 55px;
    }

    .button-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .info {
        margin-bottom: 115px;
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        
        .left-column-content {
            margin-right: 65px;
            .title {
                color: $blue;
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 35px;
            }

            .big-description {
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 40px;
                color: $black;
            }

            .buttons {
                display: flex;
            }
        }

        .right-column-content {
            margin-top: 50px;

            .right-content {
                font-size: 14px;
                color: $black;
                margin-bottom: 15px;
            }
        }
    }
    .section-title {
        font-weight: bold;
        font-size: 22px;
        color: $black;
        margin-bottom: 55px;
    }
    .active-campaigns {
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
        align-items: center;
    }
    .campaign {
        display: flex;
        margin-bottom: 35px;

        .campaign-column-left {
            width: 645px;
            margin-right: 20px;

            .campaign-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .title {
                    font-size: 16px;
                    font-weight: bold;
                }
                .days-left {
                    display: flex;
                    font-weight: bold;
                    font-size: 12px;
                    color: $blue;
                    align-items: flex-end;
                }

                .red {
                    color: $red;
                }
            }
            .progress-container {
                width: 100%;
                margin: 5px 0 15px 0;
                progress {
                    width: 100%;
                }
            }
            .info-row {
                display: flex;
                .image-container {
                    margin-right: 23px;
                }
                img.info-image {
                    width: 190px;
                    height: 133px;
                }
                .info-container {
                    text-align: left;
                    span.key {
                        font-weight: bold;
                        font-size: 12px;
                        margin-right: 3px;
                    }
                    span.value {
                        font-size: 12px;

                        .specifications {
                            display: inline-block;
                            margin-left: 5px;

                            a {
                                color: $blue;
                                text-decoration: none;
                            }

                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .campaign-column-right {
            display: flex;
            justify-content: flex-start;

            .ccr-row {
                display: flex;
                height: 30px;
                margin-top: 12px;

                .progress-percent {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 10px;
                }

                .join-button {
                    display: flex;
                    flex-direction: column;
                }

                .share-icon {
                    height: 15px;
                    margin-right: 3px;
                }

                a.share-text {
                    margin-right: 6px;
                    color: $black;
                    text-decoration: none;
                }

                .share-text:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .share {
                    display: flex;
                    font-size: 9px;
                    font-style: italic;
                    justify-content: flex-end;
                }
            }
        }
    }

    $t-margin: 30px;
    .table-container {
        margin-bottom: 50px;
        border: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        .table-headers {
            display: flex;
            margin-bottom: 35px;
            align-items: center;
            .th {
                font-size: 11px;
                font-weight: bold;
                text-align: left;
                margin-right: $t-margin;
            }
        }

        .table-row {
            display: flex;
            height: 100px;
            align-items: center;
            border-top: 1px solid $border-color;
            .td {
                font-size: 13px;
                text-align: left;
                margin-right: $t-margin;
            }
        }

        .table-row:hover {
            background-color: $trow-hover;
        }

        .t-score {
            width: 70px;
            padding-left: 40px;
        }

        .t-data {
            width: 140px;
        }

        .t-qty {
            width: 40px;
        }

        .t-unit {
            width: 60px;
        }

        .t-location {
            width: 80px;
        }

        .t-lead-time {
            width: 90px;
        }

        .score-square {
            height: 30px;
            width: 30px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blue {
            background-color: $blue;
        }

        .red {
            background-color: $red;
        }

        .yellow {
            background-color: $yellow;
        }
    }

    a.specifications {
        font-size: 11px;
        color: $blue;
        text-decoration: none;
    }

    a.specifications:hover {
        text-decoration: underline;
    }
}