$blue: #1C74EC;
$blue-hover: #7FB5FF;
$black: #141414;
$red: #FA3D64;

.home {
    padding: 0 0 0 95px;
    font-family: Arial, Helvetica, sans-serif;

    .headerbar {
        margin-bottom: 55px;
    }

    .button-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .info {
        padding-right: 95px;
        margin-bottom: 115px;
        display: flex;
        text-align: left;
        
        .left-column-content {
            margin-right: 65px;
            .title {
                color: $blue;
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 35px;
            }

            .big-description {
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 40px;
                color: $black;
            }

            .buttons {
                display: flex;
            }
        }

        .right-column-content {
            margin-top: 50px;

            .right-content {
                font-size: 14px;
                color: $black;
                margin-bottom: 15px;
            }
        }
    }
    .section-title {
        font-weight: bold;
        font-size: 22px;
        color: $black;
        margin-bottom: 55px;
    }
    .active-campaigns {
        display: flex;
        flex-direction: column;
    }
    .campaign {
        display: flex;
        margin-bottom: 35px;

        .campaign-column-left {
            width: 645px;
            margin-right: 20px;

            .campaign-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .title {
                    font-size: 16px;
                    font-weight: bold;
                }
                .days-left {
                    display: flex;
                    font-weight: bold;
                    font-size: 12px;
                    color: $blue;
                    align-items: flex-end;
                }

                .red {
                    color: $red;
                }
            }
            .progress-container {
                width: 100%;
                margin: 5px 0 15px 0;
                progress {
                    width: 100%;
                }
            }
            .info-row {
                display: flex;
                .image-container {
                    margin-right: 23px;
                }
                img.info-image {
                    width: 190px;
                    height: 133px;
                }
                .info-container {
                    text-align: left;
                    span.key {
                        font-weight: bold;
                        font-size: 12px;
                        margin-right: 3px;
                    }
                    span.value {
                        font-size: 12px;

                        .specifications {
                            display: inline-block;
                            margin-left: 5px;

                            a {
                                color: $blue;
                                text-decoration: none;
                            }

                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .campaign-column-right {
            display: flex;
            justify-content: flex-start;

            .ccr-row {
                display: flex;
                height: 30px;
                margin-top: 20px;

                .progress-percent {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }
    }
}

button {
    min-width: 135px;
    min-height: 30px;
    font-weight: bold;
    font-size: 13px;
    margin: 5px;
}

button.primary {
    background-color: $blue;
    color: white;
    border-style: none;
}

button.primary:hover {
    cursor: pointer;
    background-color: $blue-hover;
}

button.secondary {
    background-color: white;
    color: $blue;
    border-style: solid;
    border-width: 1px;
    border-color: $blue;
}

button.secondary:hover {
    cursor: pointer;
    border-color: $blue-hover;
    color: $blue-hover;
}